@model IEnumerable<PermsManager.Models.PrEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            name
        </th>
        <th>
            PrWorld
        </th>
        <th>
            type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrWorld.worldname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.entryid }) |
            @Html.ActionLink("Details", "Details", new { id=item.entryid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.entryid })
        </td>
    </tr>
}

</table>

<div>
    <a href="javascript: history.go(-1)">Back</a>
</div>
